.hvalp {
    display: block;
    width: 400px;
    opacity:1;
    height: auto;
    position:absolute;

}

.blood {
    width: 600px;
    height: 600px;
    opacity: 0;
    top:240px;
    left:50px;
    position:relative;

}


