
.intro{
    border: solid black 3px;
    height: 250px;
    width: 250px;
    opacity:1;
    margin:auto;
}

h1{
    font-size: 40px;
    font-family:bold;
    text-align:center;
    color: red;
    }

.skjult {
    display:none;

}

.hvalp {
    display: block;
    width: 400px;
    opacity:1;
    height: auto;
    position:absolute;


}
.puppy {
    transition: all 0.2s;
    outline:none;
}




.blood {
    width: 600px;
    height: 600px;
    opacity: 0;
    top:240px;
    left:50px;
    position:relative;

}


